<h1>Descrição do Veículo</h1>

<table>
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Marca</th>
            <th>Placa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{carro.marca}}</td>
            <td>{{carro.modelo}}</td>
            <td>{{carro.ano}}</td>
            <td>{{carro.marca}}</td>
            <td>{{carro.placa}}</td>
        </tr>
    </tbody>
</table>